@font-face {
    font-family: battleFont;
    src: url('/public/BigShouldersStencilText-Bold.ttf');
}

@font-face {
    font-family: ships;
    src: url('/public/usnavy.ttf');
}



.body{
    margin: 0;
    padding: 0;
}

.gameboard {
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(10,150px);
    grid-template-rows: repeat(10,150px);
    grid-gap: 5px;
}

.cell {
    color: rgb(185, 167, 167);
    padding: 50px;
    border: 1px solid;
}

.miss {
    background-color: darkblue;
}

.hit {
    background-color: darkred;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arena {
display: flex;
padding: 50px;
justify-content: space-around;
}

.header {
    font-family: battleFont;
    font-size: 300px;
    text-align: center;
}

.ship {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: ships;
}

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 100px;
    margin-top: 500px;
    background-color: rgb(203, 199, 194);
}

.overlay {
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 3rem;
}

.card {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 500px;
    padding: 2rem;
    background-color: rgb(221, 221, 221);
}

